.charactersContainer{
    width: 100%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    justify-items: center;
}

@media(max-width: 574px){
    .charactersContainer{
        grid-template-columns: 1fr;
    }
}