@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root{
  --Background: #130f40;
  --CardBackground: #30336b;
  --White: #fff;
  --LifeTrue: #6ab04c;
  --LifeFalse: #eb4d4b;
  --SemiGray: #95afc0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: var(--Background);
  color: var(--White);
}

button{
  font-family: 'Poppins', sans-serif;
  font-weight: 400; 
  border: none;
  outline: none;
}

input{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  border: none;
    outline: none; 
}